/*The astrick applies the following css initally, then changed if the respective class/ID is called */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}


/* nav tag makes the nav bar appeat to the upper right corner */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}



.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav li {
    display: inline-block;
    margin-left: 50px;
  }
  
  .header nav li:first-child {
    margin-left: 0;
  }
  
 .header nav a {
    text-decoration: none;
    color: white;
  }
  
  .header nav a:hover {
    color: #b321ae;
  }

p {
    font-size: 16px;
}

.profile-pic {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/propic.jpeg");
    background-size: cover;
    background-position: center;
}

.about-mehead, .myWork, .contactInfo {
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
    background-color:black;
    color: #ffffff;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}


.portfolio img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
}

.work-order{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.about-para{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    color: #000000;
}

.details {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
}

.details ul {
    text-align: center;
}
